if SHIELD_JWE_WYST_LEFT

config ZMK_KEYBOARD_NAME
    default "Wysteria"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_JWE_WYST_LEFT || SHIELD_JWE_WYST_RIGHT

config ZMK_SPLIT
    default y

endif

